name: Print Pull Request Context
on: 
 workflow_dispatch:
 pull_request:
   types: [opened, edited, reopened]
jobs:
  print-context:
    runs-on: ubuntu-latest
    steps:
      - name: Print Pull Request Context
        run: echo "${{ toJSON(github.event) }}"